<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <header>   
            <a href="/"><img src="/images/logo.png" alt="" class="logo"></a>
            <nav>
                <a href="/">Home</a>
                &nbsp;|&nbsp;
                <% if (user) { %>
                    <a href="/skills">Skills</a>
                    &nbsp;|&nbsp;
                    <a href="/goals">Goals</a>
                    &nbsp;|&nbsp;
                    <a href="/tasks">Daily Tasks</a>
                    &nbsp;|&nbsp;
                    <a href="/logout">Log Out</a>
                <% } else { %>
                    <a href="/auth/google" class="login">Log In</a>
                <% } %>
            </nav>
        </header>
