<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <header class="header-nav">   
            
            <nav class="nav">
                <div class="nav-logo">
                    <a href="/">Gamify</a>
                </div>
                <div class="nav-links">
                    <% if (user) { %>
                        <a href="/">Home</a>
                        <a href="/user">Account</a>
                        <a href="/skills">Skills</a>
                        <a href="/goals">Goals</a>
                        <a href="/tasks">Daily Tasks</a>
                        <a href="/logout" class="log">LOG OUT</a>
                    <% } else { %>
                        <a href="/auth/google" class="log">LOG IN</a>
                    <% } %>
                </div>
            </nav>
                

        </header>
