<dialog data-modal>
    <form action="">
        <input type="text">
        <button type="submit" formmethod="dialog">Cancel</button>
        <button type="submit">Submit</button>
    </form>
</dialog>

