<%- include('../partials/header') %>

<% if (user) { %>

    <dialog data-modal id="newGoalModal" class="new-goal-modal">
        <form action="/goals" method="POST">
            <h3 class="step-title">Add A Goal</h3>
            <div class="form-group">
                <label for="goal-type">Type</label>
                    <select name="type" id="goal-type" required>
                        <option value="goal">Goal</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="goal-skill">Skill</label>
                    <select name="skill" id="goal-skill" required>
                        <option value="" disabled selected>Select a skill</option>
                        <% skills.forEach(function(skill) { %>
                            <option value="<%= skill._id %>"><%= skill.skillName %></option>
                        <% }) %>
                    </select>
            </div>
            <div class="form-group">
                <label for="goal-name">Name</label>
                    <input type="text" name="name" id="goal-name" required>
            </div>
            <div class="form-group">
                <label for="goal-description">Description</label>
                    <input type="text" name="description" id="goal-description">
            </div>
            <div class="form-group">
                <label for="goal-due-date">Due Date</label>
                    <input type="date" name="dueDate" id="goal-due-date" required>
            </div>
            <div class="form-group">
                <label for="goal-priority">Priority</label>
                    <select name="priority" id="goal-priority">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
            </div> 
            <button type="submit" onclick="goBack()">Cancel</button>
            <button type="submit" name="action" value="submitGoal">Submit</button>
        </form>
    </dialog>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modal = document.querySelector('[data-modal]')
        modal.showModal()
    })

    const modal = document.querySelector('[data-modal]')

    function goBack() {
        window.history.back()
    }

    // modal.addEventListener('click', e => {
    //     const dialogDimensions = modal.getBoundingClientRect();
    //     if (
    //         e.clientX < dialogDimensions.left ||
    //         e.clientX > dialogDimensions.right ||
    //         e.clientY < dialogDimensions.top ||
    //         e.clientY > dialogDimensions.bottom
    //     ) {
    //         goBack()
    //     }
    // })
</script>

<% } %>

<%- include('../partials/footer') %>
